.error {
    width: 50%;
    color: red;
}
table {
    margin: auto;
    padding: 20px;
}

td {
    padding: 20px;
}

form {
    margin: auto;
    padding: 20px;
}

input[type=text], input[type=email] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.container {
    margin: auto;
    padding: 16px;
}
button {
    background-color: #7d47c9;
    padding: 15px;
    margin: 5px 0 22px 15px;
    position: relative;
    height: 45px;
    width: 112px;
    border: none;

}
img {
    width: 50px;
    height: 50px;
}